<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="testsuite">
	<test name="testlogin">
		<classes>
			<class name="Test.TestCase.TestCase">
				<methods>
					<include name="login" />
				</methods>
			</class>

		</classes>
	</test>


</suite>